html, body {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: Roboto, Verdana, sans-serif;
  color: #222222;
}

#title {
  width: 100%;
  background-color: #EEEEEE;
}

nav {
  padding: 10px 0 20px 20px;
  background-color: #222222;
}

nav a {
  color: white;
  margin-right: 60px;
}

.section {
  margin-bottom: 80px;
  background-color: #EEEEEE;
  padding: 20px;
}

.bordered-table, .bordered-table td, .bordered-table th {
  border: 2px solid #222222;
  border-collapse: collapse;
}

.bordered-table td, .bordered-table th {
  padding: 20px;
}

.green {
  color: #00AA00;
}

.yellow {
  color: #AAAA00;
}

.red {
  color: #AA0000;
}

.symbol {
  height: 80px;
}
